 $primary: #ffffff;
$secondary: rgba(33, 39, 194, 0.92);
$gradient: linear-gradient(180deg,
        rgba(205, 207, 255, 0.92) 0%,
        rgba(51, 56, 199, 0.92) 100%);
$fadedBG: rgba(33, 39, 194, 0.2);
$buttonBorder: #3338c7;
$textColor: #3338c7;
$textColor2: #3f3737;
$textColor3: #5f5d5d;
$positive: #fcd8df;
$negative: #ece9fa;
$info: #757474;
$dark: #1d1d1d;
$dark-page: #121212; 